@{
    ViewBag.Title = "eRef!";
}





    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <h2 style="font-family: Impact; color:red">Voter Portal</h2>
            <p>
                Voters can get connected with their district representatives at every level of government. <b>Register as a voter on eRef!</b> and find out about how you are represented.
            </p>
            <p><a class="btn btn-info" style="border-radius:50%" href="https://localhost:44320/voter/index"> &raquo;</a></p>
        </div>
        <div class="col-md-4" style="text-align:center">
            @* <h2 style="font-family: Impact; color:#0DC0E8">Legislation Portal</h2>
                <p><b>Access information about legislation</b> and the opinions that drive the decisions of legislators and voters.</p>
                <p><a class="btn btn-danger" style="border-radius:50%" href="https://localhost:44320/law/index"> &raquo;</a></p>*@
        </div>
        <div class="col-md-4" style="text-align:center">
           @* <h2 style="font-family: Impact; color:red">Legislator Portal</h2>
            <p>Legislators can log in to explain why they make the decisions that they make. <b>Register as a legislator on eRef!</b></p>
            <p><a class="btn btn-info" style="border-radius:50%" href="https://localhost:44320/legislator/index"> &raquo;</a></p>*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            @*<h2 style="font-family: Impact; color:red">Voter Portal</h2>
            <p>
                Voters can get connected with their district representatives at every level of government. <b>Register as a voter on eRef!</b> and find out about how you are representated
            </p>
            <p><a class="btn btn-info" style="border-radius:50%" href="https://localhost:44320/voter/index"> &raquo;</a></p>*@
        </div>
        <div class="col-md-4" style="text-align:center;font-size:30px">
            <h1 style="font-family: Impact">eRef!</h1>
            <p class="lead">Welcome to eRef(erendum)! <b>eRef!</b> is a portal where you can access the information about <b>legislation pertinent to you!</b></p>
            <!--<p><a href="https://localhost:44320/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
        </div>
        <div class="col-md-4" style="text-align:center">
            <h2 style="font-family: Impact; color:dodgerblue">Legislation Portal</h2>
            <p><b>Access information about legislation</b> and the opinions that drive the decisions of legislators and voters.</p>
            <p><a class="btn btn-danger" style="border-radius:50%" href="https://localhost:44320/law/index"> &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <h2 style="font-family: Impact; color:red">Legislator Portal</h2>
            <p>Legislators can log in to explain why they make the decisions that they make. <b>Register as a legislator on eRef!</b></p>
            <p><a class="btn btn-info" style="border-radius:50%" href="https://localhost:44320/legislator/index"> &raquo;</a></p>
        </div>
        <div class="col-md-4" style="text-align:center">
            @*<h2 style="font-family: Impact; color:#0DC0E8">Legislation Portal</h2>
            <p><b>Access information about legislation</b> and the opinions that drive the decisions of legislators and voters.</p>
            <p><a class="btn btn-danger" style="border-radius:50%" href="https://localhost:44320/law/index"> &raquo;</a></p>*@
        </div>
        <div class="col-md-4" style="text-align:center">
           @* <h2 style="font-family: Impact; color:red">Legislator Portal</h2>
            <p>Legislators can log in to explain why they make the decisions that they make. <b>Register as a legislator on eRef!</b></p>
            <p><a class="btn btn-info" style="border-radius:50%" href="https://localhost:44320/legislator/index"> &raquo;</a></p>*@
        </div>
    </div>

