@{
    ViewBag.Title = "eRef!";
}

<div class="jumbotron">
    <h1>eRef!</h1>
    <p class="lead">Welcome to eRef(erendum). eRef is a portal where you can access the information about how your representatives vote on Federal, State, County, and Municipal legislation.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Voter Portal</h2>
        <p>
            This is where voters can get connected with the correct representatives based on where they live.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Legislation Portal</h2>
        <p>Access information about legislation that is being voted on, and the opinions that drive the decisions of legislators and voters.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Legislator Portal</h2>
        <p>Legislators can log in so that they can explain to constituents why they make the decisions that they make for them.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>